.vscode

lab5/readFromFile.c
lab5/writeInFile.c

lab5/readDevInput
lab5/readFromFile
lab5/sharedMemory
lab5/writeInFile
lab5/writeInMemory

lab6/multMatrix2.c
lab6/test.c

lab6/multMatrixThreads
lab6/multMatrix2
lab6/sharedMemory
lab6/syncAdd
lab6/test